################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ProjetoBase.Domain/obj
/ProjetoBase.Domain/bin
/ProjetoBase.UnitTest/obj
/ProjetoBase.UnitTest/bin
